body {
  padding: 0%;
  margin: 0%;

  /*background: #f9f9f9;*/
  background-color: coral;
  width: 100%;
  max-width: 800px;
  height: auto;
}
a
{
  text-decoration:none;
  color: #7e6b6b;
}
p
{margin: 0;}
nav
{
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  height: auto;
}
nav>div
{
  color: #7e6b6b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 40px;
}
nav>div>img
{
  height: 120%;
  width: auto;
}
nav>div>input
{
  border:solid 1px #EBEBEB;
  border-radius: 4px;
  background-image: url("./images/search.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  width: 80%;
  height: 60%;
}

nav>div:last-of-type
{

  padding-right: 0%;

  border-top: solid 1px #EBEBEB;
  border-bottom: solid 1px #EBEBEB;

}
nav>div:last-of-type>ul
{
  margin: 0%;
  padding: 0px;
  width: 94%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav>div:last-of-type>ul>li
{
  font-size: 14px;
}
nav>div:last-of-type>ul>div>img
{
  height: 16px;
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  background: white;
  width: 100%;
  height: 50px;

  border: solid 1px #EBEBEB;
  border-radius: 4px;
}

header>*
{
  margin-left: 5px;
  margin-right: 5px;
  height: 80%;
  width: auto;
}
header>p
{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-overflow: ellipsis;
}
header>p:last-of-type
{
  color: #7e6b6b;
}

header>input
{
  height: 26px;
  width: 15%;
  border: solid 1px #EBEBEB;
}
header>button
{
  border-radius: 4px;
  color: white;
  font-size: 12px;

  background-color: rgb(202, 86, 9);
  height: 30px;
  width: 12%;
  border: solid 1px #EBEBEB;
}

img.crossIcon
{
  margin-right: 5px;
  margin-left: 30px;
  height: 13px;
  width: auto;
}

main
{
  float: left; 
  width: 70%;
  height: auto;
}

section#popular
{
  width: 97%;
  height: auto;

  padding-left: 3%;
  padding-top: 10px;
  margin-bottom: 10px;

  border: solid 1px #EBEBEB;
  background-color: white;
  border-radius: 4px;
}

div.sectionHeader
{
  padding-left: 2%;
  padding-right: 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #EBEBEB;
  width: 96%;
  height: 25px;
}
div.sectionHeader>div
{
  height: 100%;
  width: 200px;
}

div.sectionPost
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 120px;
  margin-bottom: 5px;

  border-bottom: solid 1px #EBEBEB;
}
div.sectionPost>img
{
  background: midnightblue;
  width: 80px;
  height: 80px;
}
div.sectionPost>div:first-of-type
{
  padding-left: 10px;
  width: 70%;
  height: 80px;
}
div.sectionPost>div:first-of-type>p:first-of-type
{
  width: 90%;
  height: 30px;
  font-size: 20px;
}
div.sectionPost>div:first-of-type>p:last-of-type
{
  width: 90%;
  height: 20px;
  font-size: 13px;
}


div.sectionPost>div:first-of-type>div
{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 90%;
  height: 30px;
}
p.likes, p.comments
{
  font-size: 12px;

  background-repeat: no-repeat;
  border: solid 1px lightgray;
  background-color: #EBEBEB;
  border-radius: 2px;
  
  padding-right: 5px;
  padding-left: 15px;
}
p.likes
{
  background-image: url("./images/votes.png");
}
p.comments
{
  color: gray;
  background-image: url("./images/comments.png");
}

div.sectionPost>div:first-of-type>div>*
{
  margin-right: 10px;
}

div.sectionPost>div:last-of-type
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100px;
  height: 80px;
  margin-right: 10px;

}
p.tag
{
  font-size: 10px;

  background-repeat: no-repeat;
  border: none;
  background-color: lightgray;
  border-radius: 4px;
  
  padding: 3px;
}
p.moreTags
{
  margin-left: 0px;
  line-height: 15px;
  font-size: 11px;
  color: gray;
}


section#today
{
  width: 97%;
  height: auto;

  padding-left: 3%;
  padding-top: 10px;
  margin-bottom: 10px;

  border: solid 1px #EBEBEB;
  background-color: white;
  border-radius: 4px;
}
section#today>div.sectionHeader>div
{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width:auto;
}
section#today>div.sectionHeader>div>p:last-of-type
{
  margin-left: 10px;
  color:grey;
}

aside
{
  width: 25%;
  height: 100%;
  float: right;
}
div#asideTop
{
  background: white;
  width: 95%;
  height: 120px;
  margin-bottom: 10px;

  border: solid 1px #EBEBEB;
  background-color: white;
  border-radius: 4px;
  padding-left: 5%;
}
div#asideTop>div
{
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 18px;

  width: 100%;
  height: 25px;
  padding-top: 5px;
  margin-bottom: 5px;
}

div#asideTop>p
{
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}
button#asideKittyButton
{
  border: solid 1px #EBEBEB;
  border-radius: 4px;
  color: white;
  font-size: 11px;

  height: 30px;
  width: 95%;
  padding-left: 15px;
  
  background-color: rgb(202, 86, 9);
  background-image: url("./images/hashIcon.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 8px;
  background-position-y: 4px;
}

div#asideChat
{
  border: solid 1px #EBEBEB;
  background-color: white;
  border-radius: 4px;
  padding-left: 5%;
  
  width: 95%;
  height: 100%;
  margin-bottom: 10px;

}
div#asideChat>div#asideChatHeader
{
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  line-height: 40px;

  border-bottom: solid 1px #EBEBEB;

}
div.asidePost
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background: violet;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
div.asidePost>img
{
  background-color: midnightblue;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
div.asidePost>div
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: teal;
  width: 75%;
  height: auto;
}
div.asidePost>div>p:first-of-type
{
  font-weight: bold;
  font-size: 13px;
}
div.asidePost>div>p:nth-of-type(2)
{
  color:grey;
  font-size: 13px;
}

p.remindButton
{
  font-size: 11px;
  text-align: center;
  border: none;
  background-color: lightgray;
  border-radius: 4px;
  
  width: 70%;
  padding: 0px;
  
}